%html
  %head
    %title Manilla Street | Amman, Jordan
    / Bootstrap CSS
    %link{:href => "assets/css/bootstrap.css", :rel => "stylesheet"}

    / Shield Theme Styles
    %link{:href => "assets/css/shield_theme.css", :rel => "stylesheet"}


    / JS needed at first. 
    %script{:src => "assets/js/jquery.min.js"}
    %script{:src => "assets/js/modernizr.custom.js", :type => "text/javascript"}


    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>

    / FONTS
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:400,300,700", :rel => "stylesheet", :type => "text/css"}/

  %body{"data-offset" => "0", "data-spy" => "scroll", "data-target" => "#navbar-main"}
    
    / NAVBAR
    #navbar-main
      / Fixed navbar
      .navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon.icon-shield{:style => "font-size:30px; color:#3498db;"}
            %a.navbar-brand.hidden-xs.hidden-sm{:href => "#home"}
              %span.icon.icon-shield{:style => "font-size:18px; color:#3498db;"}
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li
                %a.smoothScroll{:href => "/"} Home
              %li
                %a.smoothScroll{:href => "#about"} About
              %li
                %a.smoothScroll{:href => "#team"} Stories
          / /.nav-collapse

    / VIDEO
    #intro-video{:name => "home"}
      #video-header
        .video-title
          Manilla Street
        .video-subtitle
          Amman, Jordan
      #arrow-overlay
        %a.smoothScroll{:href => "#about"}
          %span.down-arrow

    
    / ABOUT
    #about.container{:name => "about"}
      .row.white
        %br
        %h1.centered About
        %hr
        .col-lg-12
          %p There's a street off of the Third Circle in Amman, Jordan known as "Manilla Street". The abundance of Filipin@ restaurants, grocers, and rendezvous make it the heart of this established community. Over the last thirty years, thousands of immigrants from the Philippines have moved to Amman and created a sort of home in the city of seven hills. This project is an exploration of the lives of # young people, each with distinct racial and social identities, but with a few things in common. Each of them has Filipin@ heritage and has grown up in Amman as part of the second generation of the Filipin@ diaspora. Each individual person understands themselves differently, and all are in different stages of finding their place in the changing fabric of Jordanian society. As a Palestinian Jordanian, I have grown up seeing Amman change from year to year and from war to war. Coming from a family background of displacement and colonialism, I am drawn to issues of home, belonging, and diaspora. As inhabitants of the Hashemite Kingdom we must ask ourselves, who benefits from our narrow definitions of nationhood and citizenship and which populations are being left in the dark? By providing the digital space for these Jordanians to tell the story of Amman as they experience it, I hope to provoke questions within you, dear viewer, to consider how their experiences relate to and differ from your own.

          %p A project by Munir Atalla and Arnell Prado Special Thanks: Jean Wu, Grace Talusan, Lisa Lowe, Thomas Chen, Tatyana Bronstein, Jaime Sanchez,The Royal Film Commission, Beit Il Shawareb, Evangeline Ybo, Jerash Munar Somrisa, Bashir Nimaat, Hani Obeidat, Shin, Sara Naemi, Beijan Qutub.

    / STORIES
    #team.container{:name => "team"}
      %br
      .row.white.centered
        %h1.centered PICK A STORY TO FOLLOW
        %hr
        %br
        %br
        .portraits
          .row.row-centered
            .col-sm-1
            .col-md-2.centered.col-centered
              %a{:href =>"Arnell.html"}
                %img.img.img-circle{:alt => "", :height => "120px", :src => "assets/img/arnell.png", :width => "120px"}          
              %br
              %a{:href =>  "Arnell.html"}
                %h4
                  %b Arnell
              %p Arnell is a cullinary student who graduated from Cambridge High.
            .col-md-2.centered.col-centered
              %a{:href =>"Bashir.html"}
                %img.img.img-circle{:alt => "", :height => "120px", :src => "assets/img/bashir.png", :width => "120px"}          
              %br
              %a{:href =>  "Bashir.html"}
                %h4
                  %b Bashir
              %p Bashir is a gym trainer and a self-proclaimed hustler.
            .col-md-2.centered.col-centered
              %a{:href =>"Beijan.html"}
                %img.img.img-circle{:alt => "", :height => "120px", :src => "assets/img/beijan.png", :width => "120px"}          
              %br
              %a{:href =>  "Beijan.html"}
                %h4
                  %b Beijan
              %p Beijan is a ballet and contemporary dancer.
            .col-md-2.centered.col-centered
              %a{:href =>"Jerash.html"}
                %img.img.img-circle{:alt => "", :height => "120px", :src => "assets/img/jerash.png", :width => "120px"}
              %br/
              %a{:href =>  "Jerash.html"}
                %h4
                  %b Jerash
              %p Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
            .col-md-2.centered.col-centered
              %a{:href =>"Sara.html"}
                %img.img.img-circle{:alt => "", :height => "120px", :src => "assets/img/sara.png", :width => "120px"}
              %br/
              %a{:href =>  "Sara.html"}
                %h4
                  %b Sara
              %p Sara recently graduated from SAE.
            .col-sm-1



    / THEME JS
    %script{:src => "assets/js/bootstrap.min.js", :type => "text/javascript"}
    / %script{:src => "assets/js/retina.js", :type => "text/javascript"}
    %script{:src => "assets/js/jquery.easing.1.3.js", :type => "text/javascript"}
    %script{:src => "assets/js/smoothscroll.js", :type => "text/javascript"}
    %script{:src => "assets/js/jquery-func.js", :type => "text/javascript"}


    / BigVideo Dependencies
    :javascript
      window.jQuery || document.write('<script src="bower_components/jquery/jquery.min.js"><\/script>')
    %script{:src => "assets/js/jquery-ui.js"}
    %script{:src => "http://vjs.zencdn.net/4.3/video.js"}
    / BigVideo
    %script{:src => "assets/js/bigvideo.js"}
    / Page Javascript
    %script{:src => "assets/js/scale.fix.js"}
    %script{:src => "index.js"}









